streamlit==1.31.0
pandas==2.2.0
numpy==1.26.3
plotly==5.18.0
faker==22.6.0
matplotlib==3.8.2
wordcloud==1.9.3
reportlab==4.0.9
openai==0.28.1
langchain==0.0.267
langchain-core==0.0.9
langchain-openai==0.0.2
